@using Web.ViewModels;
@using Web.Enums
@model CallBackFormViewModel
@using (Html.BeginUmbracoForm("HandleCallBackForm", "Form", FormMethod.Post, new {novalidate = "novalidate", id = "callBackForm"}))
{
    <div class="px-4 flex flex-col gap-6">
        <div>
            <label asp-for="Name" class="sr-only"></label>
            <input asp-for="Name" type="text" placeholder="@Html.DisplayNameFor(x => x.Name)" class="w-full p-3 italic border border-gray-300 focus:ring-2 focus:ring-primary focus:outline-none"/>
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Email" class="sr-only"></label>
            <input asp-for="Email" type="text" placeholder="@Html.DisplayNameFor(x => x.Email)" class="w-full p-3 italic border border-gray-300 focus:ring-2 focus:ring-primary focus:outline-none" />
            <span asp-validation-for="Email"></span>
        </div>
        <div>
            <label asp-for="PhoneNumber" class="sr-only"></label>
            <input asp-for="PhoneNumber" type="text" placeholder="@Html.DisplayNameFor(x => x.PhoneNumber)" class="w-full p-3 italic border border-gray-300 focus:ring-2 focus:ring-primary focus:outline-none" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>
        <div class="relative">
            <label asp-for="SelectOption" class="sr-only"></label>
            <div>
                <select asp-for="SelectOption" class="appearance-none w-full p-3 pr-10 border border-gray-300 focus:ring-2 focus:ring-primary focus:outline-none">
                    @{
                        var options = Enum.GetValues<ServicesEnum>();
                        foreach(var option in options)
                        {
                            string service = option.ToString();
                            string serviceDisplayFormat = service.Replace('_', ' ');
                            <option value="@service" >@serviceDisplayFormat</option>
                        }
                    }
                </select>
            </div>
            <span class="pointer-events-none absolute right-3 inset-y-0 flex items-center">
                <i class="bi bi-arrow-down text-gray-500 text-md"></i>
            </span>
        </div>
        <div class="pb-8">
            <button class="formBtn formBtn-accent formBtn-full" type="submit">Submit</button>
        </div>
    </div>
}
<script src="~/scripts/form.js"></script>