@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ServiceSection)Model.Content;
    var settings = Model.Settings as ContentModels.ServiceSettings;

    var sectionColor = settings?.ServiceBackgroundColor?.Color ?? "#fff";

    var current = Umbraco.AssignedContentItem;
    var root = current?.Root();
    var servicePage = root?.Children<ServicePage>()?.FirstOrDefault();
    var serviceDetailsItem = servicePage?.Children<ServiceDetails>()?.OrderByDescending(x => x.CreateDate).ToArray() ?? [];
}

<section class="py-4 bg-[@sectionColor} px-4 md:px-36 ">
    <div class="max-w-7xl mx-auto px-4">
        <div class="flex flex-col gap-2 items-center">
            @if (settings.ShowServiceLabel)
            {
               <h2 class="text-lg text-secondary font-bold uppercase">@content.ServiceLabel</h2>
            }
            <div class="raw-html-from-text-editor">@Html.Raw(content.ServiceTitle)</div>
        </div>
        <div class="mt-5 grid grid-col-1 md:grid-cols-3 gap-4">
            @foreach (var item in serviceDetailsItem)
            {
                <div class="bg-neutral border-white-100 radius-xl  w-full min-h-[350px] overflow-hidden tranition-all hover:border-secondary hover:shadow-xl">
                    <a href="@item.Url()" class="block">
                        <h4 class="p-4 font-semibold text-primary">@item.Name</h4>
                        @if(item.ServiceDetailThumbnail is not null) {
                            <img src="@item.ServiceDetailThumbnail.Url()" class="block w-full h-[220px] object-cover radius-sm"/>
                        }
                        <p class="text-sm gap-2">@item.ServiceDetailExcerpt</p>
                    </a>
                </div>
            }
        </div>
    </div>
</section>